<nav class ="navbar navbar-default navbar-fluid-top" id="category-nav">
  <div class="container-fluid">
    <ul class="nav navbar-nav" id="category-navbar">
      <li><%= link_to "Vendors", vendors_path, id: "category-link" %></li>
      <li><%= link_to "Categories", categories_path, id: "category-link" %></li>
      <li><%= link_to "Items", items_path, id: "category-link" %></li>
    </ul>
  </div>
</nav>
