<h2> Welcome, <%= @user.name %></h2>
<% if @user.super_admin? %>
  <%= link_to "Update Personal Account Information", admin_edit_user_path, class: "btn btn-default text-dark" %><br><br>
<% else %>
  <br><%= link_to "Update Personal Account Information", edit_user_path, class: "btn btn-default text-dark" %>
<% end %>

<% if @user.orders.any? %>
  <%= link_to "Order History", orders_path %>
<% end %>
