<h2>Welcome, <%= @user.name %></h2>
<div class="container-fluid">
  <% if !@user.vendor.nil? %>
    <%= render partial: 'shared/business_owner' %>
  <% elsif %>
    <%= render partial: 'shared/no_business' %>
  <% end %>
</div>
