<div id="page_header">
  <%= image_tag "http://www.seela.org/wp-content/uploads/2013/01/Best-of-Hollywood_111.jpg" %>
  <div id="greeting-container">
    <div id="greeting-bg"></div>
    <div id="greeting">
      <h2>Welcome to CopperFalls</h2>
      <h5><em>The Market That Comes To You</em></h5>
    </div>
  </div>
</div>
