<div class="text-center">
  <h1>All Vendors</h1>
</div>

<% if current_super_admin? %>
  <%= render partial: 'vendor_status_rows', locals: {array: @approved, title: "approved"} %>
  <%= render partial: 'vendor_status_rows', locals: {array: @rejected, title: "rejected"} %>
  <%= render partial: 'vendor_status_rows', locals: {array: @retired, title: "retired"} %>
<% else %>
  <ul>
    <% @approved.each do |vendor| %>
    <li><%= link_to vendor.name, vendor_show_path(vendor.slug), class: "text-muted order" %></li>
    <% end %>
  </ul>
<% end %>
