<div class="container-fluid">
  <div class="row">
    <div class="text-center">
      <h1 class="brand-name"> CopperFalls Farmers Market </h1>
    </div>
    <br>
    <div class="row">
      <div class="">
        <div class="paragraph-increase text-center">
          <p>
              On a picture perfect Monday morning in June, 2015, CopperFalls Farmers
            Market was launched. Wanting to create a website that would bring the
            sense of community and culture to the comfort of your own home, the
            first month held only a few vendors, with limited items.
          </p>
            <p>
              The site was a rousing success, and today – in its second year – the
            market has grown to 20 vendors, with over 500 items and thousands of
            shoppers and aficionados. Managed by our friends at Turing-1603 since
            it's creation, the market has seen many vendors and has been an incubator
            for vendor successes. We would like to specially acknowledge Blue Barn
            Farms, known far and wide for their mouth-watering peaches and apples
            from the Western Slope, and Styria Bakery, legendary for their fresh
            baked bread, both of whom have been with us since that very first day
            in 2015.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
