<div class="container-fluid">
  <div class="row">
    <div class="text-center">
      <h1 class="brand-name"> Welcome to CopperFalls </h1>
    </div>
    <br>
    <div class="row">
      <div class="paragraph-increase">
        <p>
          On a picture perfect Monday morning in June, 2016, CopperFalls Farmers
          Market was launched. Wanting to create a website
          that would bring the sense of community and culture neighbors to the street regularly, the first market
          was a single day event with just ten vendors.
        </p>
          <p>
          The day was a rousing success, and today– in its fifteenth season – the
          market has grown to 27 weeks, with close to 100 vendors and thousands of
          shoppers and aficionados. Managed by our friends at HobNob Events for the
          past nine years, the market has seen many vendors and has been an incubator
          for vendor successes. We would like to specially acknowledge Ela Family
          Farms, known far and wide for their mouth-watering peaches and apples
          from the Western Slope, and Styria Bakery, legendary for their fresh
          baked bread, both of whom have been with us since that very first day
          in 2001.
        </p>
      </div>
    </div>
  </div>
</div>
