<div class="box">
  <h1>Admin Dashboard</h1>
  <%= render "shared/dashboard" %>
  <br>
  <%= render partial: "search" %>

  <br>

  <%= render partial: "jquery_nav" %>
  <%= render partial: "jquery_table" %>

</div>
